*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
box{
    display: flex;
}
met{
    display: flex;
    justify-content: space-around;
    background-color: red;
    width: 100px;
    height: 100px;
}
reps{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 200px;
    height: 200px;
}
fruks1{
    font-size: medium;
    display: flex;
    /* align-items: center; */
    width: 50px;
    height: 50px;
}
fkay{
    font-size: small;
    display: flex;
    width: auto;
}